html, body{
    margin: 0;
    padding: 0;
}

.row{
    width: 100;
    max-width: 100%
}

@media only screen and (min-width: 40.063em) {
    .row{
        max-width: 90%;
    }
} /* min-width 641px, medium screens */


header{
    background: #333;
    color: #fff;
}

header h1{
    font-size: 2rem;
    color: #fff;
    display: inline;
    margin: 0;
    padding: 0;
    margin-right: 2rem;
}

h2{
    font-size: 1.5rem;
    font-weight: bold;
    font-style: italic;
    text-transform: uppercase;
}

.row.divide{
    background: rgb(200, 255, 255);
    margin-top: 2rem;
}

nav{
    display: inline-block;
    vertical-align: middle;
}

nav.inline, nav.inline ul, nav.inline ul li{
    display: inline;
    list-style: none;
    margin: 0;
    padding: 0;
    font-size: 2rem;
}

nav.inline.center{
    display: block;
    text-align: center;
    width: 100%;
}

nav.inline li.active a{
    text-decoration: underline;
}

nav.inline.slash li:after{
    content: "/";
}

nav.inline.slash li:last-child:after{
    content: "";
}

small{
    font-size:  0.8rem;
    vertical-align: middle;
}

.pullup{
    max-height: 300px;
    overflow: scroll;
}

.bar rect{
    fill: #333;
}

.bar text{
    fill: white;
}

.axis path, .axis line{
    fill: none;
    stroke: #333;
    stroke-width: 1;
}

.node rect{
    fill: none;
}

.node rect.filled{
    fill: white;
}

svg{
    font-size: 0.7rem;
    text-anchor: middle;
}

path {
    stroke: #333;
    stroke-width: 2;
    fill: none;
}

circle{
    cursor: pointer;
}

#tree path{
    stroke: gray;
}

.slider .handle text {
  text-align: center;
  font-size: 1rem;
}

.slider .background{
    cursor: pointer !important;
}


.timeline_controls{
    text-align: center;
}

.main_controls{
    position: absolute;
    top: 0;
    left: 1rem;
}

.main_controls button{
    display: block;
}

button{
    margin: 2px;
    padding: 5px 10px;
    font-size: 0.85rem;
    background: none;
    border: 1px solid #751e82;
    color: #751e82;
}

button:hover, button.active{
    background: #751e82;
    color: white;
}

.tree_zoom{
    pointer-events: all;
    cursor: move;
}
