/* COLOURS
 * background black: #080808
 * text colour: #ffffff
 * groen: #17cf1f
 * blauw: #165d6c
 * donkergrijs: #282828
 * middelgrijs: #878787
 * lichtgrijs: #d9d9d9
 * paars: #751e82
*/

input, select, img, button {
    outline: none;
}

html, body{
    background: #080808;
    color: #ffffff;
    font-family: 'Muli', sans-serif;
    font-size: 12pt;
    font-weight: 300;
}

/* GRID */
.row{
    max-width: none;
}

.large{
    padding-bottom: 1rem;
}

/* TITLES */
h1, h2, h3{
    font-family: inherit;
    color: inherit;
    font-weight: 400;
}

h1{
    font-size: 2.5rem;
    line-height: 2rem;
    margin: 0;
    display: inline-block;
    color: #fff;
}

h2{
    font-size: 1.3rem;
    margin: 0;
    color: #fff;
}

h3{
    font-size: 1rem;
    color: #17cf1f;
}

p{
    margin-top: 1.3rem;
}

/* HEADER */
header.green{
    border-bottom: 1px dotted #17cf1f;
    padding: 10px 0 10px 0;
}

/* FOOTER */
footer{
    padding: 5px;
    border-top: 1px dotted #17cf1f;
}

/* NAVIGATION */
nav.main{
    color: #878787;
    font-size: 0.8rem;
    text-transform: lowercase;
}

nav.sort{
    font-weight: 400;
    margin-top: 2px;
}


/* LISTS */

ul.inline{
    list-style: none;
    display: inline;
    font-size: inherit;
    margin: 0;
    padding: 0;
    color: #d9d9d9;
}

ul.newline{
    display: block;
}

ul.inline li{
    display: inline-block;
}

ul.slash li:after{
    content: " / ";
    color: #878787;
}

ul.arrow li:after{
    font-family: 'Arial', sans-serif;
    content: "\2192";
    color: #878787;
    font-size: 1.3rem;
}

ul.dash li:after{
    content: " \2013 ";
    color: #878787;
}

ul.inline li:last-child:after{
    content: none;
}

/* LINKS */
a, a:hover, a:visited, a:active{
    text-decoration: none;
    color: inherit;
}

a:hover{
    border-bottom: 1px dotted;
}
    
/* ITEMS */  
.items{
    font-size: 0.80rem;
    color: #878787;
}

.item {
    padding-top: 20px;
    padding-bottom: 20px;
    font-weight: 300;
    border-bottom: 1px dotted #165d6c;
    cursor: zoom-in;
}

.item:last-child{
    border-bottom: none;
}

.item.active{
    background: #282828;
    cursor: default;
}

.extra.laatste_wijziging{
    margin-bottom: 1.3rem;
}

@media only screen and (min-width: 64.063em) {
    .extra.laatste_wijziging{
        margin-bottom: 0;
	    margin-top: 1.3rem
    }
} /* min-width 1025px, large screens */

.item .antwoorden {
    white-space:nowrap;
    overflow: hidden;
}

.item .antwoorden li{
    height: 100px;
}

.item .antwoorden li *{
    height: 100%;
    width: auto;
    padding: 0;
    margin: 0 10px;
}

.item .antwoorden li p{
    max-width: 100px;
    margin: 0;
    white-space: normal;
}

.item .antwoorden img.loader{
    height: auto;
    width: auto;
    margin-top: -8px;
}

.item .extra, .item.hide_tag, .item.hide_author{
    display: none;
}

/* TOPIC PAGINA */
p.description{
    padding-bottom: 1.3rem;
    border-bottom: 1px dotted #17cf1f;
    color: #d9d9d9;
}

.topic .laatste_wijziging {
	font-size: 0.8rem;
}

.topic .details ul{
    display: block;
    margin-bottom: 1.3rem;
}

.topic .details li{
    display: block;
}

.topic .details.laatste_wijziging li {
	display: inline;
}

.topic a{
    color: #751e82;
    text-decoration: underline;
}

.topic a:hover{
    border-bottom: none;
}

.topic a.nav{
    font-size: 2rem;
    color: #d9d9d9;
    text-decoration: none;
}

.topic .nav{
    position: absolute;
}

.topic .nav.up{
    top: -50px;
    left: 50%;
}

.topic .nav.right{
    top: 50%;
    right: -20px;
}

.topic .nav.down{
    bottom: -50px;
    left: 50%;
}

.topic img{
    min-height: 100%;
    min-width: 100%;
    overflow: hidden;
}

.topic .topic_img{
    max-width: 100%;
    height: 500px;
    object-fit: contain;
}







/* FORMS */

.form-left-label{
    float: left;
    margin-top: 2px;
    margin-right: 10px;
}

.form-left-input {
	overflow: hidden;
    display: block;
}

.form-left-input select, .form-left-input input{
    width: 100%;
}

nav select, nav select:focus, nav input#zoek{
   -webkit-appearance: none;
   -moz-appearance: none;
   appearance: none;
    
    background: none;
    color: #751e82;
    border: 1px solid #751e82;
    font-weight: inherit;
    height: auto;
    
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    
    padding: 3px 3px 3px 15px;
    margin: 0;
}

nav select::-ms-expand { /* for IE 11 */
    display: none;
}

nav label{
    font-weight: inherit;
    color: inherit;
}

.new {
    position: absolute;
    width: 100%;
    height: 100%;
    top:0;
    right: -100%;
    background: url('../img/bg.png');
    display: none;
}

.new .form-left-label {
    margin-top: 0.9rem;
}

@media only screen and (min-width: 40.063em) {
    .new{
        width: 50%;
        right: -50%;
    }
} /* min-width 641px, medium screens */


.new input, .new input:focus{
    background: none;
    border: 2px solid white;
    color: #fff;
    margin-top: 5px;
}

.new label{
    color: #d9d9d9;
    font-size: 0.8rem;
}

.tag-button{
    display: inline-block;
}

.purple{
    border: 1px solid #751e82;
    margin-right: -1px;
    margin-top: -1px;
}

.purple:hover{
    background: #03191a;
}

.tag-button label{
    color: #751e82;
}

.tag-button label span {
    display:block;
    padding: 5px 10px;
}

.tag-button label input {
    display: none;
}

.tag-button input:checked + span {
    background-color:#751e82;
    color:#fff;
}

.tag-select{
    margin-top: 6px;
    margin-bottom: 1rem;
}

.file-button{
    width: 100%;
    height: 100%;
    font-size: 0.8rem;
    padding: 5px;
}

.file-button img{
    display: block;
    margin: 0 auto;
    margin-bottom: 1rem;
}

button, button:hover, button:focus {
    background-color: transparent;
    font-weight: inherit;
    font-family: inherit;
}

button.big{
    border: none;
    margin: 0;
    padding: 0;
    color: #17cf1f;
    padding-left: 60px;
    height: 48px;
    font-weight: 400;
    margin-top: -10px;
}

button.plus{
    background: url(../img/plus.png) no-repeat left center;
}

/* MODAL */
.reveal-modal {
	background: url('../img/bg.png');
    border: none;
    outline: none;
}

/* CUSTOM DIVS */
.text-right{
    text-align: right;
}

.text-center{
    text-align: center;
}

small{
    font-size: 0.5rem;
}

strong{
    font-weight: 400;
    color: #ffffff;
}
