/* Arrows for navigation in topics */
.pijl {
	display: block; position: absolute; top: 50%; margin-top: -20px; color: white; font-weight: bold;
}
.linksepijl img {
	-ms-transform: rotate(-180deg); /* IE 9 */
	-webkit-transform: rotate(-180deg); /* Safari */
	transform: rotate(-180deg); /* Standard syntax */
}
.naaronderpijl img {
	-ms-transform: rotate(90deg); /* IE 9 */
	-webkit-transform: rotate(90deg); /* Safari */
	transform: rotate(90deg); /* Standard syntax */
}
.naarbovenpijl img {
	-ms-transform: rotate(-90deg); /* IE 9 */
	-webkit-transform: rotate(-90deg); /* Safari */
	transform: rotate(-90deg); /* Standard syntax */
}

/* Artefacts */
.artefact {
	height: 100%;
	overflow: hidden;
	object-fit: cover;
}