/* DATAVIS */

.visualize table, table tr, table tr td{
    border-collapse: collapse;
    vertical-align: top;
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 0;
    padding-bottom: 0;
    border: none;
    background: none;
    color: #ffffff;
}

.visualize table td{
    height: 2rem;
}

.visualize table > tbody > tr:before{
    content: "\2198 ";
    /* content: "\21B3 "; */
    color: #878787;
    font-family: arial, sans-serif;
    font-size: 1.2rem;
}

.visualize table:first-child > tbody > tr:before{
    content: "\2192 ";
    color: #878787;
    font-family: arial, sans-serif;
    font-size: 1.2rem;
}

.visualize > table:first-child > tbody > tr:before{
    content: none;
}

.visualize table tbody tr td span[data-answers]{
    border-radius: 50%;
    display: block;
    text-align: center;
    height: 1rem;
    width: 1rem;
    font-weight: 400;
    border: 1px solid transparent;
    /* background-color: hsl(123, 80%, 45%); */
    /* border-color: hsl(123, 80%, 45%); */
    /* padding-top: 0.4rem; */
    /* color: hsl(123, 80%, 45%); */
    /* margin-top: -0.5rem */
    margin-top: 0.1rem;
}
